<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <!-- ==================== 控制台输出 ===================== -->
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{36} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- ==================== 普通日志Appender ===================== -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/mdni.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${log.path}/mdni-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
      <MaxHistory>30</MaxHistory>
      <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>500MB</maxFileSize>
      </TimeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- ==================== 接口调用日志Appender ===================== -->
  <appender name="ApiAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 在IDE中运行, 不输出日志文件, 打包时level被portable-config-maven-plugin插件改为DEBUG, 输出日志文件 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <File>logs/mdni-api.log</File>
    <!-- 按每小时滚动文件，如果一个小时内达到10M也会滚动文件, 滚动文件将会压缩成zip格式, 最多保留672个滚动文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs//mdni-api-%d{yyyy-MM-dd_HH}.%i.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>672</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%level] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 授权认证日志的Appender -->
  <appender name="AuthAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 在IDE中运行, 不输出日志文件, 打包时level被portable-config-maven-plugin插件改为DEBUG, 输出日志文件 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <File>logs/mdni-auth.log</File>
    <!-- 按每小时滚动文件，如果一个小时内达到10M也会滚动文件, 滚动文件将会压缩成zip格式, 最多保留672个滚动文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs//mdni-auth-%d{yyyy-MM-dd_HH}.%i.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>672</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%-5level] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="flume" class="com.rocoinfo.appender.FlumeAppender">
    <hosts>47.94.196.205:44444</hosts>
    <!--<hosts>10.211.55.100:44444</hosts>-->
    <batchSize>100</batchSize>
    <maxIdleTime>2000</maxIdleTime>
    <eventQueueSize>100000</eventQueueSize>
    <additionHeaders>
      webapp=oauth
    </additionHeaders>
    <additionProps>
      connect-timeout = 2000
    </additionProps>
    <maxThreadPoolSize>4</maxThreadPoolSize>
    <workQueueSize>100</workQueueSize>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%message</pattern>
    </layout>
  </appender>

  <!-- 开发环境下将spring mvc和mytais的日志级别设置为debug -->
  <logger name="org.springframework.web" level="DEBUG"/>
  <logger name="com.rocoinfo.repository" level="DEBUG"/>
  <logger name="com.apache.mybatis" level="DEBUG"/>

  <!-- 授权认证的业务日志 -->
  <logger name="com.rocoinfo.oauth" level="INFO" additivity="false">
    <appender-ref ref="AuthAppender"/>
    <!--<appender-ref ref="flume"/>-->
  </logger>

  <!-- 接口调用日志 -->
  <logger name="com.rocoinfo.api" level="INFO" additivity="false">
    <appender-ref ref="ApiAppender"/>
    <!--<appender-ref ref="flume"/>-->
  </logger>

  <root level="INFO">
    <appender-ref ref="Console"/>
  </root>
</configuration>
