<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.damei.repository.auth.UserRoleDao">
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
    INSERT INTO auth_user_role(user_id, role_id)
    VALUES
    <foreach collection="userRoles" item="item" separator=",">
      (#{item.userId}, #{item.roleId})
    </foreach>
  </insert>

  <insert id="insert" parameterType="UserRole">
    INSERT INTO auth_user_role(user_id, role_id)
    VALUES(#{userId}, #{roleId})
  </insert>

  <delete id="deleteByUserIdAndAppIds">
    DELETE FROM auth_user_role
    WHERE user_id = #{userId} AND role_id IN
    ( 
    SELECT id FROM auth_role WHERE app_id IN 
    <foreach collection="appIds" item="appId" open="(" close=")" separator=",">
      #{appId}
    </foreach>
    )
  </delete>
</mapper>